header.ant-layout-header.App-Bar {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  height: fit-content;
  z-index: 10;
}

footer.ant-layout-footer {
  padding: 10px 0;
  width: 100%;
}

.ant-layout-sider {
  background-color: unset;
}

a:link {
  color: #b480eb;
}
a:visited {
  color: #b480eb;
}
a:hover {
  color: #b480eb;
}
a:active {
  color: #b480eb;
}

.masonry-grid {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-left: -32px !important;
}

.masonry-grid_column {
  padding-left: 32px !important; /* gutter size */
  background-clip: padding-box;
}

.masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
.ant-tabs-ink-bar {
  display: none;
}
.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before {
  display: none;
}
.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav {
  margin-bottom: 24px;
}
.ant-tabs-tab + .ant-tabs-tab {
  margin-left: 8px;
}
.ant-tabs-tab {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  height: 40px;
  opacity: 0.8;
  &.ant-tabs-tab-active {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 24px rgba(26, 26, 26, 0.12);
    border-radius: 8px;
    opacity: 1;

    .ant-tabs-tab-btn {
      color: white;
    }
  }

  .ant-tabs-tab-btn {
    display: flex;
    align-items: center;
  }
  span.live {
    width: 8px;
    height: 8px;
    border-radius: 5px;

    background: @metaplex-primary-color;
    box-shadow: 0px 0px 12px @metaplex-primary-color;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 12px;
  }
}

/* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

.ant-card-body {
  padding: 0;
}
section.ant-layout {
  width: 100%;
  margin: auto;
  position: relative;
}

header.ant-layout-header.App-Bar {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  height: 80px;
}

footer.ant-layout-footer {
  padding: 10px 0;
  width: 100%;
}

.ant-layout-sider {
  background-color: unset;
}

a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-left: -16px;
}

.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

/* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

.ant-card-body {
  padding: 0;
}

// .rectangle2 {
  // background: #F3F3F3;
// }

.section-title {
  margin-top: 320px;
  font-family: 'poppins';
}

h1 {
  font-size: 54px;
  color: #000000;
}

h4 {
  font-size: 16px;
  color: #000000;
}

h2 {
  font-size: 28px;
  color: black;
  margin: 50px 0 50px -50px;
}

.start_collecting {
  border-radius: 10px;
  // background-color: #000 !important;
  // border-color: #000 !important;
  background-color: #1341FF;
  border-color: #1341FF;
  margin-top: 100px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 60px;
  padding: 12px 30px 36px;
}

// .start_collecting:hover {
  // color: #fff !important;
// }

.feature_img {
  padding-top: 80px;
  padding-bottom: 10px;
}

.pic {
  display: flex;
  justify-content: center;
}

.little_space {
  padding: 100px;
  font-family: 'poppins';
}

.rectangle6 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.collections {
  color: #000;
  margin-top: 80px;
  background-color: #e5e5e5;
  border-radius: 10px;
  width: 217px;
  // border: 1px solid #000 !important;
}

.stream {
  color: #000;
  border-radius: 60px;
  font-size: 16px;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 16px 40px 38px 40px;
}

.stream:hover, .stream:focus {
  color: #fff !important;
  background: #1341FF !important;
}

.artist {
  font-size: 12px;
  color: #000;
  opacity: 0.25;
  margin-bottom: 0 !important;
}

p {
  color: #000;
  font-size: 14px;
}

.top-collectibles *{
  text-align: left;
}

.inline {
  position: relative !important;
}

.collect-stat {
  color: #000;
}

.collect-stat img {
  width: 20px;
  position: absolute;
  display: inline-block;
  top: 6px;
}

.collect-stat .text1 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 25px;
}

.collect-stat .text2 {
  font-size: 16px;
  margin-left: 10px;
}

.carousel1 .slick-dots {
  margin-bottom: -64px;
}

.ant-carousel .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #000;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #1341FF;
}

.ant-carousel .slick-dots li.slick-active {
  width: 16px;
}

.collections {
  background-color: #1341FF;
  border-radius: 36px;
  color: white;
  padding: 18px 42px 42px 40px;
  width: 250px;
}

.ant-image {
  width: 100%;
}

.comment-box {
  border: 5px solid #F3F3F3;
}

.avatar {
  width: 45px;
}

.ant-tabs-tab-btn {
  color: #000 !important;
}

.profile .userInfo input {
  color: #000;
  font-size: 48px;
  border: none;
  min-height: 40px;
  width: 100%;
  background-color: transparent;
}

.profile .userInfo input::placeholder {
  font-size: 24px;
}

.userInfo i {
  color: #1341FF;
  font-size: 28px;
}

.userInfo .btn-save {
  background: #1341FF;
  width: 115px;
  height: 40px;
  font-size: 16px;
  border-radius: 60px;
  margin-top: 10px;
}

.userInfo .edit-pen {
  background: #fff;
  border: 1px solid #EAEAEA;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.userInfo {
  position: relative;
}

.userInfo .edit-btn {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -80px;
  z-index: 3;
}